.bookmark {
    position: sticky;
    top: 0;
    bottom: 0;
}

.bookmarked {
    width: 100%;
    height: 1552px;
    background: rgba(128, 128, 128, 0.137);

}

.bookmark h3 {
    text-align: center;
}

.bookmark h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}

.read-time,
.marked-length {
    border: 1px solid rgba(128, 128, 128, 0.521);
    border-radius: 8px;
    color: blue;
    width: 100%;
    height: 50px;
    padding-top: 20px;
}