.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
    background: #345572;
    height: 90px;
}

.header-logo{
    color: whitesmoke;
    font-size: 35px;
}
.header-logo:hover{
    color: rgb(9, 8, 10);
}
.header-nav{
    display: flex;
align-items: center;
}
.header-nav a{
    text-decoration: none;
    color: whitesmoke;
    margin-left: 25px;
    font-size: 20px;
}
.header-nav img{
    width: 50px;
    height: 50px;
    margin-left: 40px;
    border-radius: 50%;
    justify-content: center;
}
